* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.container {
  width: 80%;
  margin: 0 auto;
}
img {
  width: 100%;
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.clr {
  clear: both;
}
/* ==================================================================================== */
/* ====================================== Banner CSS =================================== */
#banner {
  background: url(../images/banner.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}
.banner-text {
  width: 45%;
  color: #fff;
}
.heading {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.subtext {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #fdb467;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}
/* ====================================== Banner CSS =================================== */
/* ====================================== About Us CSS =================================== */
#about {
  color: #fff;
}
.about-left {
  text-align: center;
  background-color: #272624;
  padding: 160px 100px;
  height: 500px;
  width: 50%;
  border-top: 6px solid #1e1d1b;
  float: left;
}
.about-right {
  text-align: center;
  background-color: #1e1d1b;
  padding: 160px 80px;
  height: 500px;
  width: 50%;
  border-top: 6px solid #272624;
  float: right;
}
.about-right span {
  display: block;
  padding-top: 7px;
  padding-bottom: 15px;
}
/* ====================================== About Us CSS =================================== */
/* ====================================== Booking CSS =================================== */
.float-text {
  padding: 120px 32px 100px 32px;
  width: 30%;
  height: 500px;
  background-color: #eee9e5;
  float: left;
}
.float-text p {
  line-height: 2;
}
.float-img {
  float: right;
  width: 70%;
  height: 500px;
}
.float-img img {
  height: inherit;
}
/* ====================================== Booking CSS =================================== */
/* ====================================== Membership CSS =================================== */
.membership-text {
  float: right;
  background-color: #272624;
  color: #fff;
}
.membership-img {
  float: left;
}
/* ====================================== Membership CSS =================================== */
/* ====================================== Testimonial CSS =================================== */
#testimonial {
  background-color: #1e1d1b;
  border-bottom: 1px solid #393836;
}
.testimonial-banner {
  background: url(../images/testimonial.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}
.testimonial-card {
  max-width: 500px;
  max-height: 500px;
  background-color: #eee9e5;
  padding: 100px 50px;
  margin-top: -350px;
}
.testimonial-card h3 {
  font-weight: 400;
}
/* ====================================== Testimonial CSS =================================== */
/* ====================================== Subscribe CSS =================================== */
#subscribe {
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: #1e1d1b;
  color: #fff;
  text-align: center;
}
.subscribe-text {
  width: 70%;
  margin: 0 auto;
}
form input[type="email"] {
  width: 50%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #393836;
  background-color: #1e1d1b;
  margin-right: 10px;
}
/* ====================================== Subscribe CSS =================================== */
